.hall-fame-section {
  position: relative;
  width: 100%;
  background-color: #070707;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hall-fame-image-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.hall-fame-main-img {
  width: 100%;
  height: auto;
  display: block;
}
